/* common styles */
body {
  font-family: 'Open Sans', sans-serif;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}


/* nav related styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}

nav h1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}

.text-primary {
  color: #FD6E0A;
}

.btn-primary {
  border-radius: 5px;
  background: #FD6E0A;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  border: 0;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* header related styles */
.header {
  background-color: #FFF8F3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;

}

.banner {
  display: flex;
  padding: 50px 50px 0px 150px;
  align-items: center;
  justify-content: space-between;

}

.banner-content {
  max-width: 500px;
}

.banner-greeting {
  margin-bottom: 0;
  color: #474747;
  font-size: 45px;

}

.banner-title {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 85px;
  font-weight: 700;
}

.banner-description {
  margin-top: 30px;
}

.profile-pic {
  width: 584px;
  height: 676px;
}

/* main style */
main section{
  margin-top: 130px;
}
/* about me part style */
.about {
  border-radius: 10px;
  background: #FFF8F3;
  width: 1140px;
  margin: 130px auto;
  padding: 130px 200px;

}


.about-info-container {
  display: flex;
  justify-content: space-around;
}

.info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/* what i do(skills) related styles */
#what-i-do-description {
  padding: 5px 350px;
}

.skills-container {
  display: flex;
  padding: 50px 230px 0px 260px;
  gap: 25px;
}

.skill {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 40px;
}

.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px
}

.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
/* Resume related styles */
.resume-container{
display: flex;
padding-left: 300px;
padding-right: 250px;
gap: 25px;
}
.resume-column{

}
.resume-column-title{
  color:  #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-column-department{
  color:  #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-column-institute{
  color:  #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-column-description{
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.cv-download{
  text-align: center;
  margin-top: 50px;
}